<!--<div class="widget-wrapper">
<h3 class="widget-title">[Search]</h3>
</div>
-->
<div class="widget-wrapper">
<h3 class="widget-title">Hypergeometric Calculator</h3>
	<script type="text/javascript" src="{{ site.baseurl }}/cfvg/program/hgcc.js"></script>
</div>

<div class="widget-wrapper">
<h3 class="widget-title">Recent Posts</h3>
<ul>
{% for post in site.categories.cfvg limit:10 %}
	<li><a href="{{ site.baseurl }}{{post.url}}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>

<div class="widget-wrapper">
<h3 class="widget-title">Archive</h3>
<ul>{% for post in site.posts %}{% capture next %}{{ post.date | date: "%B %Y" }}{% endcapture %}{% if next != current %}
        <li><a href="{{ site.baseurl }}/cfvg/archive/#{{ post.date | date: '%B%Y' }}">{{ next }}</a></li>
        {% assign current = next %}{% endif %}{% endfor %}
</ul>
</div>