<div class="widget-wrapper hno">
	<script>
	  (function() {
		var cx = '009665570368320352360:aogoajtzcaw';
		var gcse = document.createElement('script');
		gcse.type = 'text/javascript';
		gcse.async = true;
		gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
			'//www.google.com/cse/cse.js?cx=' + cx;
		var s = document.getElementsByTagName('script')[0];
		s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
	<gcse:search></gcse:search>
</div>

<div class="widget-wrapper">
<h3 class="widget-title">Hypergeometric Cumulative Probability Calculator</h3>
	<script type="text/javascript" src="{{ site.baseurl }}/cfvg/program/hgcc.js"></script>
</div>

<div class="widget-wrapper">
<h3 class="widget-title">Recent Posts</h3>
<ul>
{% for post in site.categories.cfvg limit:10 %}
	<li><a href="{{ site.baseurl }}{{post.url}}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>

<div class="widget-wrapper">
<h3 class="widget-title">Archive</h3>
<ul>{% for post in site.categories.cfvg %}{% capture next %}{{ post.date | date: "%B %Y" }}{% endcapture %}{% if next != current %}
        <li><a href="{{ site.baseurl }}/cfvg/archive/#{{ post.date | date: '%B%Y' }}">{{ next }}</a></li>
        {% assign current = next %}{% endif %}{% endfor %}
</ul>
</div>