@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300);

body
{
	font-family: 'Arial';
	font-size: 16px;
	/*OLD: #d0e4fe;*/
	background: #d0e4fe;
	text-shadow: 0px 0px 0px #fff;
	margin-top: 0%;
}	

h1
{
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	text-align: center;
}

p
{
	font-family: 'Arial';
	font-size: 16px;
	text-align: left;
}

/*Banner, positioned relative to header header*/
DIV.banner
{ 
	background: #333;
    height: 130px;
	width: 100%;
	position: relative;
	margin: auto;
}

/*START MENU layout

Basic menu parameters. Edit for width if required*/

#menu-container {
	width: 100%;
	background: #d0e4fe;
	position: relative;
}

#menu {
	padding: 0; 
	margin: auto; 
	width: 738px /*Current width of the banner*/;
	background: #333;
	border-bottom: 4px solid #1b9bff;
	font-family: 'Lato', sans-serif;
	font-size: 14px; 
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#menu ul, #menu li {
	list-style: none; 
	margin: 0; 
	padding: 0;
}
#menu ul {position: relative; z-index: 597;}

#menu ul li 
{ 
	float: left; 
	min-height: 1px; 
	vertical-align: middle; 
	width: 184.5px; /*To match the current width of the banner*/
}
	
#menu ul li.hover,
#menu ul li:hover {position: relative; z-index: 599; cursor: default;}
#menu ul ul {visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 100%;}
#menu ul ul li {float: none;}
#menu ul li:hover > ul { visibility: visible;}
#menu ul ul {bottom: 0; left: 0;}
#menu ul ul {margin-top: 0; }
#menu a { display: block; line-height: 1em; text-decoration: none; }


#menu > ul { *display: inline-block; }

#menu:after, #menu ul:after {
    content: '';
    display: block;
    clear: both; 
}

#menu a {
    background: #333;
    color: #CBCBCB;
    padding: 0 20px; 
}
#menu ul { text-transform: uppercase; letter-spacing: 0.5px; }

#menu ul ul {
    border-top: 4px solid #1b9bff;
    text-transform: none;
    min-width: 184.5px; 
}
#menu ul ul a {
    background: #333;
    color: #FFF;
    border: 0.5px solid #333333;
    border-top: 0 none;
    line-height: 150%;
    padding: 16px 20px; 
}

#menu > ul > li > a { line-height: 48px;  }
#menu ul ul li:first-child > a { border-top: 1px solid #0082e7; }

#menu ul ul li:hover > a 
{ 
	background: #FAA45D /*#F4A13B*/; /*Second unordered list dropdown color*/
	color: #000;
	text-shadow: 0px 0px 0px #000;
}

#menu ul ul li:last-child > a {
border-radius: 0 0 3px 3px;
box-shadow: 0 1px 0 #1b9bff; 
}

#menu ul ul li:last-child:hover > a { border-radius: 0 0 0 3px; }
#menu ul ul li.passive > a:after {
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}

#menu ul li:hover > a, #menu ul li.current > a {
    background: #1b9bff;
    color: #FFF;
}

#menu ul li.passive > a:after {
    content: '>';
    margin-left: 10px; 
}

#menu ul li.last ul {
    left: auto;
    right: 0; 
}

#menu ul li.last ul ul {
    left: auto;
    right: 99.5%;
}

/*END OF MENU layout*/

/*SEARCH BAR layout*/

#search-header{
		position: relative;
		width: 738px;
		height: auto;
		padding-top: 2px;
		padding-bottom: 10px;
}
#newsearch{
	float:left;
	padding-top: 5px;
}
.textinput{
	padding: 5px 10px;
	font-family: 'Helvetica';
	font-size: 14px;
	border:1px solid #0076a3;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	}
.button {
	padding: 5px 15px;
	font-family: 'Helvetica';
	font-size:14px;
	cursor: pointer;
	text-align: center;
	color: #ffffff;
	border: solid 1px #0076a3; 
	border-right:0px;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}
.button:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
}
	
.tfclear{
	clear:both;
}

/*END OF SEARCH layout*/

#main-content {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	
	border: 2px solid #767370;
	
	width: 738px;
	height: auto;
	background: #ffffff;
	
}

#search-bar {
	padding: 2px 2px 0px 0px;
	border: 2px solid #767370;
	
	width: 738px;
	height: 20px;
}

html[xmlns] #nav
{
	display: block;
}