<!DOCTYPE html>
<html>
{% include head_{{page.categories}}.html %}
<body>
{% include header_{{page.categories}}.html %}
<div class="container">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <div class="content">
							{% if page.title %}
							<h1>{{ page.title }}</h1>
                            <ul class="list-inline">
							{% if page.author %}
							<li><span class="vcard"><i class="glyphicon glyphicon-user"></i> {{ page.author }}</span></li>
							{% else %}
							<li><span class="vcard"><i class="glyphicon glyphicon-user"></i> Brampton Booster</span></li>
							{% endif %}
							<li><span class="published"><i class="glyphicon glyphicon-calendar"></i> {{ page.date | date: "%b %d, %Y" }}</span></li>
							<li><i class="glyphicon glyphicon-comment"></i><a href="#disqus_thread"> Comment</a>
							</li>
							</ul>
							{% endif %}
							
                            {{ content }}
                            {% include comments.html %}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="sidebar">
                            {% include sidebar.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include footer_{{page.categories}}.html %}
</body>
</html>
